.env
.git
.gcloudignore
.gitignore
/.vscode
.DS_Store
__pycache__
memory_count.yaml
attic
/db
/logs
/finetuning
licensed
images
icons
fonts
gen_model.py
cloudbuild.yaml
Dockerfile
docker-compose.yml
.env.template
.dockerignore
main.py